

# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

# Indentation override for all JS under lib directory
[lib/**.js]
indent_style = space
indent_size = 2

# Matches the exact files either package.json or .travis.yml
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2

[*.{c++,cc,cpp,cxx,h,h++,hh,hpp,hxx,inl,ipp,tlh,tli}]
indent_style = space
indent_size = 4
# VS (Code) options
cpp_indent_case_contents_when_block = true
cpp_new_line_before_open_brace_namespace = same_line
# Clion options
brace_style = end_of_line

[*.ps1]
ij_powershell_block_brace_style = end_of_line
ij_powershell_class_brace_style = end_of_line
ij_powershell_method_brace_style = end_of_line
